

body {
  margin: 0px;
}

.widget {
  position: relative;
}

.button-icon-left {
  float: left;
}

.uib-bs-flex:not(.btn-group-vertical) {
  display: -webkit-box;
  -webkit-box-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}



.full-width-widget {
  width: 100%;
}

.all-but {
  height: 6.5vh;
  width: 33.3%;
}

#nxt {
  background-image: linear-gradient(#e8a75d, #d9831f 6%, #c7781c);
  background-repeat: no-repeat;
  border: 1px solid #ac6819;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffe8a75d', endColorstr='#ffc7781c', GradientType=0);
  filter: none;
  visibility: hidden;
  position: fixed;
  top: 92%;
  height: 8%;
  width: 85%;
  margin-left: 7.5%;
  font-size: 268%;
  font-family: fantasy;
  border-top-left-radius: 3vh;
  border-top-right-radius: 3vh;
  border-bottom-left-radius: 3vh;
  border-bottom-right-radius: 3vh;
}


#mainPage {
  background-image: url("../images/blackBackground.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden;
  height: 100%;
}

#MainPageContainer {
  height: 89%;
}

#AllYouNeedText {
  display: inline-block;
  color: #0080ff;
  font-weight: 500;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.blueTextTheme {
  color: #0080ff;
}

.orangeTextTheme {
  color: #FF8247;
}

.bolderWight {
  font-weight: bolder;
}

.mdWidth {
  width: 50%;
}

#MovesLeftText {
  display: inline-block;
  margin-right: 5%;
}

#zeroBtn {
  width: 66.66%;
}

#MovesNumber {
  display: inline-block;
}

#btnsContainer {
  height: 59%;
}

.secBut {
  height: 6.5vh;
  width: 33.3%;
}

#lifestxt {
  display: inline-block;
}

#lifenum {
  display: inline-block;
}
